In [1]:
data = [
["Sunny","Rich", "Yes", "Cinema"],
["Sunny",	"Rich",	"No",	"Tennis"],
["Windy",	"Rich",	"No",	"Cinema"],
["Rainy",	"Poor",	"Yes",	"Cinema"],
["Rainy",	"Rich",	"No",	"Stay-in"],
["Rainy",	"Poor",	"No",	"Cinema"],
["Windy",	"Poor",	"Yes",	"Cinema"],
["Windy",	"Rich",	"Yes",	"Stay-in"],
["Windy",	"Rich",	"No",	"Cinema"],
["Sunny",	"Rich",	"No",	"Tennis"],
["Sunny",	"Poor",	"Yes",	"Tennis"],
["Rainy",	"Rich",	"No",	"Stay-in"]];

In [2]:
import pandas as pd 
df = pd.DataFrame(data)
df.columns = ['Weather', 	'Cash',	'Exam',	'Decision'];
print(df)

   Weather  Cash Exam Decision
0    Sunny  Rich  Yes   Cinema
1    Sunny  Rich   No   Tennis
2    Windy  Rich   No   Cinema
3    Rainy  Poor  Yes   Cinema
4    Rainy  Rich   No  Stay-in
5    Rainy  Poor   No   Cinema
6    Windy  Poor  Yes   Cinema
7    Windy  Rich  Yes  Stay-in
8    Windy  Rich   No   Cinema
9    Sunny  Rich   No   Tennis
10   Sunny  Poor  Yes   Tennis
11   Rainy  Rich   No  Stay-in

In [3]:
df_x = pd.get_dummies(df[['Weather', 	'Cash',	'Exam']])
df_x.head()

,Weather_Rainy,Weather_Sunny,Weather_Windy,Cash_Poor,Cash_Rich,Exam_No,Exam_Yes
0,0,1,0,0,1,0,1
1,0,1,0,0,1,1,0
2,0,0,1,0,1,1,0
3,1,0,0,1,0,0,1
4,1,0,0,0,1,1,0

In [4]:
X= df_x.to_numpy()
print(X)

[[0 1 0 0 1 0 1]
 [0 1 0 0 1 1 0]
 [0 0 1 0 1 1 0]
 [1 0 0 1 0 0 1]
 [1 0 0 0 1 1 0]
 [1 0 0 1 0 1 0]
 [0 0 1 1 0 0 1]
 [0 0 1 0 1 0 1]
 [0 0 1 0 1 1 0]
 [0 1 0 0 1 1 0]
 [0 1 0 1 0 0 1]
 [1 0 0 0 1 1 0]]

In [5]:
y = df['Decision'].values.tolist()
print(y)

['Cinema', 'Tennis', 'Cinema', 'Cinema', 'Stay-in', 'Cinema', 'Cinema', 'Stay-in', 'Cinema', 'Tennis', 'Tennis', 'Stay-in']

In [6]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
model = classifier.fit(X, y)

print("Classes = ", model.classes_)
print("Class priors = ", model.class_count_)
print("Class priors log = ", model.class_log_prior_)

Classes =  ['Cinema' 'Stay-in' 'Tennis']
Class priors =  [6. 3. 3.]
Class priors log =  [-0.69314718 -1.38629436 -1.38629436]

In [7]:
# this_weekend Weather_Rainy	Weather_Sunny	Weather_Windy	Cash_Poor	Cash_Rich	Exam_No	Exam_Yes
# this_weekend     0	            1	              0	       1	          0	       1	       0

this_weekend_obs = [[0,1,0,1,0,1,0]]

In [8]:
predict_this_weekend = model.predict(this_weekend_obs)
predict_this_weekend_prob = model.predict_proba(this_weekend_obs)

print("Classes = ", model.classes_)
print('Predicted class = ', predict_this_weekend)
print('Predicted class = ', predict_this_weekend_prob)

Classes =  ['Cinema' 'Stay-in' 'Tennis']
Predicted class =  ['Tennis']
Predicted class =  [[0.38324082 0.0685288  0.54823039]]

c)	How the answer will change if you know that your friend is very outgoing, so the prior probabilities that she does any of these three activities are [‘Cinema’: 0.4 , ‘Tennis’: 0.4, ‘Stay-in’: 0.2] (only in the Python code, no need to do manual calculation).

In [9]:
classifier2 = MultinomialNB(class_prior=[0.4, 0.2, 0.4])
classifier2.classes_=['Cinema', 'Stay-in', 'Tennis']
model2 = classifier2.fit(X, y)

In [10]:
predict_this_weekend = model2.predict(this_weekend_obs)
predict_this_weekend_prob = model2.predict_proba(this_weekend_obs)

'XXXXX ADD YOUR CODE HERE XXXXXXX'
'PRINT the predicted class and the predicted probability'

'PRINT the predicted class and the predicted probability'

To verifiy the answer that we manually calculated, we need to turn-off smoothing.

In [11]:
classifier3 = MultinomialNB()
classifier3.set_params(alpha=1.0e-10)
model3 = classifier3.fit(X, y)

'XXXXX ADD YOUR CODE HERE XXXXXXX'
'Call predict() to predict the class and find the predicted probability. PRINT them.'

'Call predict() to predict the class and find the predicted probability. PRINT them.'